body{
    display:flex;
    flex-direction: column;
    margin:0px;
    font-family: 'Yaldevi', sans-serif;
    width:100vw;
    overflow-x:hidden;
}
.logo{
    color:#f9faf8;
    font-size:24px;

}
header{
    width:80%;
   
    padding:10%;
    padding-top:20px;
    padding-bottom:20px;
    display:flex;
    justify-content:space-between;
    
    align-items:center;
    
   
}

header a{
    color:#f9faf8;
    text-decoration: none;
    padding:10px;
    
}

.heroprimary{
    font-size:48px;
    font-weight:700;
    color:#f9faf8;
}

.herosecondary{
    font-size:18px;
    color:#e5e7eb;
}

.head1{
    padding-left:10%;
    padding-right:10%;
    display:flex;
    justify-content: space-between;
    padding-bottom:40px;
}

/*second section styling begins */
.cards{
    display: flex;
    flex-direction:row;
    justify-content:space-between;
    margin-left:20%;
    margin-right:20%;
    width:60%;
    margin-top:40px;
    margin-bottom:40px;
    
}

.cards .box{
    
    width:20%;
    display:flex;
    flex-direction:column;
    overflow-x:hidden;
    text-align:center;
}
.cards .box .card{
    
    height:150px;
    border:1px solid blue;
    border-radius:5px;
}

footer,header,.head1{
    
    background-color:#1F2937;
    
}


button{
    background-color:#3882f6;
    color:#f9faf8;
    border-radius:5px;
    border:1px solid black;
    padding:20px;
    padding-top:10px;
    padding-bottom:10px;

}


.bluebar{
    width:60%;
    margin-left:20%;
    margin-right:20%;
    margin-top: 40px;
    margin-bottom: 40px;
    display:flex;
    justify-content:space-between;
    background:#3882f6;
    padding:40px;
    
    border-radius:10px;
    color:white;
    
}

.greyback{
    background-color:#e5e7eb;
    color:#1f2937;
    font-size:25px;
    font-style: italic;
    font-weight: lighter;
    padding-left:20%;
    padding-right:20%;
    padding-top:40px;
    padding-bottom: 40px;

}

/*footer section */
footer{
    text-align:center;
    color:#f9faf8;
    padding-top:40px;
    padding-bottom:40px;
}